{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  Display Page
{% endblock %}
{% load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/display_styles.css' %}">
<body onkeydown="ESCclose(event)">
    {% include 'includes/navbar.html' %}
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
        <!-- <form method="post" class="form-inline text-center">
            {% csrf_token %}
            <div class="row mt-5">
                    <div class="col-md-4 mb-3 ml-5 pl-5">
                        {{ form.state }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form> -->
        <div>

        </div>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-container">
                  <label class="p-1">State:</label>
                  <form id="stateForm" method="post" class="form-inline" style="display: inline-block; width: 20%">
                    {% csrf_token %}
                    <div  class="form-group p-1">
                      {{ state_form.state }}
                    </div>
                  </form>
                  <label class="p-1">Category:</label>
                  <form id="catagoryForm" method="post" class="form-inline" style="display: inline-block; width: 20%">
                    {% csrf_token %}
                    <div class="form-group p-1">
                      {{ catagory_form.catagory }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!-- <button  class="btn btn-link"><a href="{% url 'display' %}">Reset</a></button> -->
    
        <br>
        <div class="px-6 m-2">
            <table class="table table-bordered table-hover text-light ">
                <thead>
                    <tr>
                        <th>State Code</th>
                        <th>District Code</th>
                        <th>Details</th>
                        <th>Process Details</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% if distinct_locations %}
                    {% for location in distinct_locations %}
                    <tr>
                        <td>{{ location.stateNameEnglish }}</td>
                        <td>{{ location.districtNameEnglish }}</td>
                        <!-- <td>{{ location.state_name }}</td>
                        <td>{{ location.district_name }}</td> -->
                        <td>
                            <a href="#" class="btn btn-info" onclick="showPopup('{{ location.stateCode }}', '{{ location.districtCode }}','{{ location.stateNameEnglish }}','{{ location.districtNameEnglish }}')">Category Details</a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info" onclick="showProcessingPopup('{{ location.stateCode }}', '{{ location.districtCode }}')">Processing Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        {% if message %}
            <p class="text-center">{{message}}</p> 
        {% endif %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if distinct_locations.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ distinct_locations.previous_page_number }}">Previous</a></li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% endif %}
              {% if distinct_locations.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="">Page {{ distinct_locations.number }} of {{ distinct_locations.paginator.num_pages }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="">0</a></li>
              {% endif %}
              {% if distinct_locations.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ distinct_locations.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        <div class="overlay" id="overlay"></div>
        <div class="popup" id="popup">
            <h2>Details</h2>
            <div id="tableContainer">
                <!-- The dynamically generated table will be injected here -->
            </div> 
            <a href="{% url 'download-csv' %}" class="m-2 link-dark link-underline link-underline-opacity-0" >
                
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                </svg>
            </a>
            <button onclick="hidePopup()">Close</button>
        </div>
        <div class="process_time_popup" id="process_time_popup">
            <h2>Details</h2>
            <div id="process_time_table">
                <!-- The dynamically generated table will be injected here -->
            </div> 
            <button onclick="hidePopup()">Close</button>
        </div>
        </div>
    </div> 

    

    <script>
        function showPopup(stateCode, districtCode,stateNameEnglish,districtNameEnglish) {
            fetch(`get_details/?stateCode=${stateCode}&districtCode=${districtCode}`)
                .then(response => response.json())
                .then(data => {
            let tableHTML = `
                <table id="detailsTable" border="1" class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>District</th>
                            <th>Category</th>`;

            // Check if any item has a subcategory to decide whether to add the SubCategory column
            const hasSubCategory = data.some(item => item.catagory__subCatagory);

            if (hasSubCategory) {
                tableHTML += `<th>SubCategory</th>`;
            }

            tableHTML += `<th>Count</th>
                        </tr>
                    </thead>
                    <tbody>`;

            // Generate table rows
            data.forEach(item => {
                tableHTML += `<tr>
                                <td>${stateNameEnglish}</td>
                                <td>${districtNameEnglish}</td>
                                <td>${item.catagory__catagory}</td>`;
                
                if (hasSubCategory) {
                    tableHTML += `<td>${item.catagory__subCatagory || ''}</td>`;
                }

                tableHTML += `<td>${item.count}</td>
                            </tr>`;
            });

            tableHTML += `</tbody></table>`;

            // Set the generated table HTML to a container element
            document.getElementById('tableContainer').innerHTML = tableHTML;
                    
                    document.getElementById('overlay').style.display = 'block';
                    document.getElementById('popup').style.display = 'block';
                });
        }

        function hidePopup() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
            document.getElementById('process_time_popup').style.display = 'none';
        }
        function ESCclose(evt) {
            if (evt.keyCode == 27){
                document.getElementById('popup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
                document.getElementById('process_time_popup').style.display = 'none'; 
            }
          }
        function showProcessingPopup(stateCode, districtCode) {
            fetch(`get_process_time_details/?stateCode=${stateCode}&districtCode=${districtCode}`)
                .then(response => response.json())
                .then(context => {
            let tableHTML = `
                <table id="detailsTable" border="1" class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Fetching Time</th>
                            <th>Extraction Time</th>
                            <th>Aggrigation Time</th>
                            <th>Total Time</th>
                        </tr>
                    </thead>
                    <tbody>
                            <td>${context.fetch_time}</td>
                            <td>${context.extraction_time}</td>
                            <td>${context.aggrigation_time}</td>
                            <td>${context.aggrigation_time + context.fetch_time + context.extraction_time}</td>
                    </tbody>`;

            

            // Set the generated table HTML to a container element
            document.getElementById('process_time_table').innerHTML = tableHTML;
                    document.getElementById('overlay').style.display = 'block';
                    document.getElementById('process_time_popup').style.display = 'block';
                });
        }
        function ESCclose(evt) {
            if (evt.keyCode == 27){
                document.getElementById('process_time_popup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none'; 
            }
          }
    document.addEventListener("DOMContentLoaded", function() {
        let selectElement = document.querySelector('#id_catagory'); // Replace 'attr' with the actual field name
        selectElement.addEventListener('change', function() {
            document.getElementById('catagoryForm').submit();
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        let selectElement = document.querySelector('#id_state'); // Replace 'attr' with the actual field name
        selectElement.addEventListener('change', function() {
            
            document.getElementById('stateForm').submit();
        });
    });
        
    </script>
</body> 
{% endblock %}