{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  Fetch API Data
{% endblock %}
{% load static %}
{% block content %} 
<body>
  
</body>
<p class="fs-1 mt-4">{{ page_name }}</p>
<!-- <form method="POST">
  {% csrf_token %}
  <div class="mb-3">
      <label for="id_state" class="form-label">State</label>
      {{ form.state }}
  </div>
  <div class="mb-3">
      <label for="id_district" class="form-label">District</label>
      {{ form.district }}
  </div>

  <div class="mb-3">
      <label for="id_catagory" class="form-label">Category</label>
      {{ form.catagory }}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<form class="form-inline" method="POST">
  {% csrf_token %}
  <div class="row">
     
    <!-- <label for="id_state" class="form-label">State</label> -->
    <div class="col-md-2 mb-3">
      {{ form.state }}
    </div>
    <!-- <label for="id_district" class="form-label">District</label> -->
    <div class="col-md-2 mb-3">
      {{ form.district }}
    </div>
    <!-- <label for="id_catagory" class="form-label">Category</label> -->
    <div class="col-md-2 mb-3">
      {{ form.catagory }}
    </div>
    <div class="col-md-2 mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{% if message %}
  <p>{{ message }}</p>
{% endif %}

{% if summeries %}
<table class="table">
  <tr>
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Phase</th>
    <!-- <th scope="col">Last Updated</th> -->

  </tr>

  {% for summery in summeries %}
      <tr>
        <td scope="row">{{ summery.state_name }}</td>
        <td>{{ summery.district_name }}</td>
        <td>{{ summery.phase__phase }}</td>
      </tr>
  {% endfor %}
  </ul>
{% endif %}


  <!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      const stateSelect = document.getElementById("id_state");
      const districtSelect = document.getElementById("id_district");
      const subdistrictSelect = document.getElementById("id_subdistrict");
      const villageSelect = document.getElementById("id_village");

      window.addEventListener("load", function() {
        resetAllFields();
    });

      stateSelect.addEventListener("change", function() {
        resetFieldsBelowDistrict();
      });

      districtSelect.addEventListener("change", function() {
        resetFieldsBelowSubdistrict();
      });
      form.addEventListener("submit", function(event) {
        event.preventDefault(); 
        resetAllFields(); // Reset all fields
        form.submit(); 
      });

      function resetFieldsBelowDistrict() {
        subdistrictSelect.value = null;
        villageSelect.value = null;
      }

      function resetFieldsBelowSubdistrict() {
        villageSelect.value = null;
      }
      function resetAllFields() {
        stateSelect.value = "--------"; 
        districtSelect.value = null;
        subdistrictSelect.value = null;
        villageSelect.value = null;
    }
    });
  </script> -->
{% endblock %}
