{% extends 'base.html'%}
{% block title %}
  Fetch API Data
{% endblock %}
{% load static %}
{% block content %} 
{% include 'includes/navbar.html' %}
<!-- <body>
  
</body> -->
<link rel="stylesheet" href="{% static 'css/fetch_styles.css' %}">
{% if messages %}
  <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}  
  </div>
{% endif %}
<p class="fs-1 mt-4 text-light">{{ page_name }}</p>
<!-- <form method="POST">
  {% csrf_token %}
  <div class="mb-3">
      <label for="id_state" class="form-label">State</label>
      {{ form.state }}
  </div>
  <div class="mb-3">
      <label for="id_district" class="form-label">District</label>
      {{ form.district }}
  </div>

  <div class="mb-3">
      <label for="id_catagory" class="form-label">Category</label>
      {{ form.catagory }}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<form class="form-inline" method="POST">
  {% csrf_token %}
  <div class="row">
     
    <!-- <label for="id_state" class="form-label">State</label> -->
    <div class="col-md-2 mb-3">
      <label for="#id_state" class="text-light">State : </label>
      {{ form.state }}
    </div>
    <!-- <label for="id_district" class="form-label">District</label> -->
    <div class="col-md-2 mb-3">
      <label for="#id_district" class="text-light">District : </label>
      {{ form.district }}
    </div>
    <!-- <label for="id_catagory" class="form-label">Category</label> -->
    <div class="col-md-2 mb-3">
      <label for="#id_catagory" class="text-light">Category : </label>
      {{ form.catagory }}
    </div>
    <div class="col-md-2 mb-3" style="margin-top: 23px;">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<!-- {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} -->

{% if message %}
  <p>{{ message }}</p>
{% endif %}

{% if summeries %}
<table class="table table-bordered table-hover mt-4">
  <tr class="header-row">
    <th class="text-light" scope="col">State</th>
    <th class="text-light" scope="col">District</th>
    <th class="text-light" scope="col">Fetching Status</th>
    <th class="text-light" scope="col">Extraction Status</th>
    <th class="text-light" scope="col">Aggregation Status</th> 
  </tr>
  
  {% for summery in summeries %}
      <tr>
        <td class="text-light" scope="row">{{ summery.state_name }}</td>
        <td class="text-light">{{ summery.district_name }}</td>
        <td class="text-light">{{ summery.fetch_status }}</td>
        <td class="text-light">{{ summery.extraction_status }}</td>
        <td class="text-light">{{ summery.aggregation_status }}</td>
      </tr>
  {% endfor %}
  </ul>
{% else %}
<table class="empty-table mt-4">
  <tr class="header-row">
    <th class="text-light" scope="col">State</th>
    <th class="text-light" scope="col">District</th>
    <th class="text-light" scope="col">Fetching Status</th>
    <th class="text-light" scope="col">Extraction Status</th>
    <th class="text-light" scope="col">Aggregation Status</th> 
  </tr>
  <tr class="message-row">
    <td colspan="5">
      <div class="message text-light">No data available.</div>
    </td>
</tr>
</table>
{% endif %}

<!-- {% if summeries %}
<table class="table table-bordered table-hover mt-4">
  <tr>
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Fetching Status</th>
    <th scope="col">Extraction Status</th>
    <th scope="col">Aggregation Status</th>
    

  </tr>
  
  {% for summery in summeries %}
      <tr>
        <td scope="row">{{ summery.state_name }}</td>
        <td>{{ summery.district_name }}</td>
        <td>{{ summery.fetch_status }}</td>
        <td>{{ summery.extraction_status }}</td>
        <td>{{ summery.aggregation_status }}</td>
      </tr>
  {% endfor %}
  </ul>
{% endif %} -->


  <!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      const stateSelect = document.getElementById("id_state");
      const districtSelect = document.getElementById("id_district");
      const subdistrictSelect = document.getElementById("id_subdistrict");
      const villageSelect = document.getElementById("id_village");

      window.addEventListener("load", function() {
        resetAllFields();
    });

      stateSelect.addEventListener("change", function() {
        resetFieldsBelowDistrict();
      });

      districtSelect.addEventListener("change", function() {
        resetFieldsBelowSubdistrict();
      });
      form.addEventListener("submit", function(event) {
        event.preventDefault(); 
        resetAllFields(); // Reset all fields
        form.submit(); 
      });

      function resetFieldsBelowDistrict() {
        subdistrictSelect.value = null;
        villageSelect.value = null;
      }

      function resetFieldsBelowSubdistrict() {
        villageSelect.value = null;
      }
      function resetAllFields() {
        stateSelect.value = "--------"; 
        districtSelect.value = null;
        subdistrictSelect.value = null;
        villageSelect.value = null;
    }
    });
  </script> -->
{% endblock %}
