{% extends 'base.html'%}
{% block title %}
  Fetch API Data
{% endblock %}
{% load static %}
{% block content %} 
{% include 'includes/navbar.html' %}
<!-- <body>
  
</body> -->
<link rel="stylesheet" href="{% static 'css/fetch_styles.css' %}">
{% if messages %}
  <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}  
  </div>
{% endif %}
<p class="fs-1 mt-4">{{ page_name }}</p>
<!-- <form method="POST">
  {% csrf_token %}
  <div class="mb-3">
      <label for="id_state" class="form-label">State</label>
      {{ form.state }}
  </div>
  <div class="mb-3">
      <label for="id_district" class="form-label">District</label>
      {{ form.district }}
  </div>

  <div class="mb-3">
      <label for="id_catagory" class="form-label">Category</label>
      {{ form.catagory }}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<form class="form-inline" method="POST">
  {% csrf_token %}
  <div class="row">
     
    <!-- <label for="id_state" class="form-label">State</label> -->
    <div class="col-md-2 mb-3">
      <label for="#id_state">State : </label>
      {{ form.state }}
    </div>
    <!-- <label for="id_district" class="form-label">District</label> -->
    <div class="col-md-2 mb-3">
      <label for="#id_district">District : </label>
      {{ form.district }}
    </div>
    <!-- <label for="id_catagory" class="form-label">Category</label> -->
    <div class="col-md-2 mb-3">
      <label for="#id_catagory">Category : </label>
      {{ form.catagory }}
    </div>
    <div class="col-md-2 mb-3" style="margin-top: 23px;">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if message %}
  <p>{{ message }}</p>
{% endif %}

{% if summeries %}
<table class="table table-bordered table-hover mt-4">
  <tr>
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Fetching Status</th>
    <th scope="col">Extraction Status</th>
    <th scope="col">Aggrigation Status</th>
    <!-- <th scope="col">Last Updated</th> -->

  </tr>
  
  {% for summery in summeries %}
      <tr>
        <td scope="row">{{ summery.state_name }}</td>
        <td>{{ summery.district_name }}</td>
        <td>{{ summery.fetch_status }}</td>
        <td>{{ summery.extraction_status }}</td>
        <td>{{ summery.aggrigation_status }}</td>
      </tr>
  {% endfor %}
  </ul>
{% else %}
<div class="mt-4" style="display: flex; justify-content: flex-start; align-items: flex-start; height: 100vh; padding-left: 20px; padding-top: 20px;">
  <div style="font-size: 48px; font-weight: bold; text-align: left;">
      No District in Processes
  </div>
</div>
{% endif %}

<!-- {% if summeries %}
<table class="table table-bordered table-hover mt-4">
  <tr>
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Fetching Status</th>
    <th scope="col">Extraction Status</th>
    <th scope="col">Aggrigation Status</th>
    

  </tr>
  
  {% for summery in summeries %}
      <tr>
        <td scope="row">{{ summery.state_name }}</td>
        <td>{{ summery.district_name }}</td>
        <td>{{ summery.fetch_status }}</td>
        <td>{{ summery.extraction_status }}</td>
        <td>{{ summery.aggrigation_status }}</td>
      </tr>
  {% endfor %}
  </ul>
{% endif %} -->


  <!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      const stateSelect = document.getElementById("id_state");
      const districtSelect = document.getElementById("id_district");
      const subdistrictSelect = document.getElementById("id_subdistrict");
      const villageSelect = document.getElementById("id_village");

      window.addEventListener("load", function() {
        resetAllFields();
    });

      stateSelect.addEventListener("change", function() {
        resetFieldsBelowDistrict();
      });

      districtSelect.addEventListener("change", function() {
        resetFieldsBelowSubdistrict();
      });
      form.addEventListener("submit", function(event) {
        event.preventDefault(); 
        resetAllFields(); // Reset all fields
        form.submit(); 
      });

      function resetFieldsBelowDistrict() {
        subdistrictSelect.value = null;
        villageSelect.value = null;
      }

      function resetFieldsBelowSubdistrict() {
        villageSelect.value = null;
      }
      function resetAllFields() {
        stateSelect.value = "--------"; 
        districtSelect.value = null;
        subdistrictSelect.value = null;
        villageSelect.value = null;
    }
    });
  </script> -->
{% endblock %}
