{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  Display Page
{% endblock %}
{% load static %}
{% block content %} 

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center">
        <h1 class="display-4">District Not Fetched</h1>
        <p class="lead">Would you like to fetch the district selected? it may take some time</p>
        <a href="{% url 'fetch-function' %}">Fetch</a>
        OR <a href="{% url 'display' %}">Go to display right away</a>
      </div>
    </div>
  </div>

{% endblock %}