{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  Display Page
{% endblock %}
{% load static %}
{% block content %} 
{% include 'includes/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/fetch_message_styles.css' %}">
<div class="container-fluid message-field h-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 text-center">
      <h1 class="display-4 font-stylish text-light">District Not Fetched</h1>
      <p class="lead text-light">Would you like to fetch the district selected? It may take some time.</p>
      <a href="{% url 'fetch-function' %}" class="btn btn-custom btn-primary">Fetch</a>
      <span class="mx-2">OR</span>
      <a href="{% url 'display' %}" class="btn btn-custom btn-secondary">Go to display right away</a>
  </div>
</div>


{% endblock %}