{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %} 

<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
      <label for="id_state" class="form-label">State</label>
      {{ form.state }}
  </div>
  <div class="mb-3">
      <label for="id_district" class="form-label">District</label>
      {{ form.district }}
  </div>
  <!-- <div class="mb-3">
      <label for="id_subdistrict" class="form-label">Subdistrict</label>
      {{ form.subdistrict }}
  </div>
  <div class="mb-3">
      <label for="id_village" class="form-label">Village</label>
      {{ form.village }}
  </div> -->
  <div class="mb-3">
      <label for="id_catagory" class="form-label">Category</label>
      {{ form.catagory }}
  </div>
  <!-- <div class="mb-3">
      <label for="id_sorting" class="form-label">Sorting</label>
      {{ form.sorting }}
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% if message %}
  <p>{{ message }}</p>
{% endif %}

{% if places %}
<table class="table">
  <tr>
    <th scope="col">Place</th>
    <th scope="col">Address</th>
    <th scope="col">Google Maps</th>
    <th scope="col">Status</th>
    <th scope="col">Rating</th>
    <th scope="col">userRatingCount</th>
  </tr>

  {% for place in places %}
      <tr>
        <td scope="row">{{ place.name }}</td>
        <td>{{ place.formattedAddress }}</td>
        <td><a href="{{ place.googleMapsUri }}">Link</a></td>
        <td>{{ place.businessStatus }}</td>
        <td>{{ place.rating }}</td>
        <td>{{ place.userRatingCount }}</td>
      </tr>
  {% endfor %}
  </ul>
{% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const stateSelect = document.getElementById("id_state");
      const districtSelect = document.getElementById("id_district");
      const subdistrictSelect = document.getElementById("id_subdistrict");
      const villageSelect = document.getElementById("id_village");

      window.addEventListener("load", function() {
        resetAllFields();
    });

      stateSelect.addEventListener("change", function() {
        resetFieldsBelowDistrict();
      });

      districtSelect.addEventListener("change", function() {
        resetFieldsBelowSubdistrict();
      });
      form.addEventListener("submit", function(event) {
        event.preventDefault(); 
        resetAllFields(); // Reset all fields
        form.submit(); 
      });

      function resetFieldsBelowDistrict() {
        subdistrictSelect.value = null;
        villageSelect.value = null;
      }

      function resetFieldsBelowSubdistrict() {
        villageSelect.value = null;
      }
      function resetAllFields() {
        stateSelect.value = "--------"; 
        districtSelect.value = null;
        subdistrictSelect.value = null;
        villageSelect.value = null;
    }
    });
  </script>
{% endblock %}
