{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %} 

  <form method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <input type = "submit" value = "Submit">
  </form>
  {% if data %}
    <h2>Filtered Data:</h2>
    <ul>
    {% for obj in data %}
        <li>{{ obj.name }}</li>
    {% endfor %}
    </ul>
{% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const stateSelect = document.getElementById("id_state");
      const districtSelect = document.getElementById("id_district");
      const subdistrictSelect = document.getElementById("id_subdistrict");
      const villageSelect = document.getElementById("id_village");

      stateSelect.addEventListener("change", function() {
        resetFieldsBelowDistrict();
      });

      districtSelect.addEventListener("change", function() {
        resetFieldsBelowSubdistrict();
      });


      function resetFieldsBelowDistrict() {
        subdistrictSelect.value = null;
        villageSelect.value = null;
      }

      function resetFieldsBelowSubdistrict() {
        villageSelect.value = null;
      }

    });
  </script>
{% endblock %}
